.chessboard {
    border:4px solid #2f3a50;
    width: 560px;
}

.row {
    display:flex;
}

.black-box {
    width: 70px;
    height: 70px;
    background-color: #2f3a50;
}

.white-box {
    width: 70px;
    height: 70px;
    background-color: white;
}
#a8 {
    background-image: url(PieceImages/black-rook.png);
    background-size:cover ;
    background-position: center;
    background-repeat: no-repeat;
}
#a7 {
    background-image: url(PieceImages/black-pawn.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#b8 {
    background-image: url(PieceImages/black-king.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}