.chessboard {
    border:4px solid #2f3a50;
    width: 560px;
}

.row {
    display:flex;
}

.black-box {
    width: 70px;
    height:70px;
    background-color: #2f3a50;
}

.white-box {
    width: 70px;
    height: 70px;
    background-color: white;
}
